<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mariadb://localhost:3306/lesupercoin</property>
        <property name="connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="connection.username">max</property>
        <property name="connection.password">max</property>

<!--        <property name="connection.url">jdbc:mysql://localhost:3306/lesupercoin?serverTimezone=UTC</property>-->
<!--        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
<!--        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>-->
<!--        <property name="connection.username">max</property>-->
<!--        <property name="connection.password">max</property>-->

        <mapping class="leSuperCoin.model.entities.Annonce" />
        <mapping class="leSuperCoin.model.entities.ValeurCritere" />
        <mapping class="leSuperCoin.model.entities.Critere" />
        <mapping class="leSuperCoin.model.entities.Categorie" />
        <mapping class="leSuperCoin.model.entities.Photo" />
        <mapping class="leSuperCoin.model.entities.SurCategorie" />
        <mapping class="leSuperCoin.model.entities.User" />

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>